body{
	background-color:pink;
}
h2{
	color:green;
}
h4{
	color:pink;
	font-size:.9em;	
}
table,tr,td{
	border: 1px solid black;
}
.quijote{
	text-align:center;
}
.enfasis{
	font-weight:bold;
	text-decoration: underline;
}